@font-face {
  font-family: "MesloLGS NF";
  src: url("https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Regular.ttf");
  font-weight: normal;
  font-style: normal;
 }

/* ------------ Reset Font Family ------------ */
.mac,
.windows,
.linux {
  font-family: 'MesloLGS NF', 'SF Mono', monospace;
} 

/* ------------ Title Bar ------------ */
.monaco-workbench .part.titlebar {
  border-bottom: 1px solid #181C20 !important;
}

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title {
  font-size: 14px !important;
}

/* ------------ Command Center ------------ */
.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center.hide {
  visibility: visible !important;
}

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center>.monaco-toolbar>.monaco-action-bar>.actions-container>.action-item:not(:has(.monaco-toolbar)) {
  display: none !important;
}

/* ------------ Activity Bar ------------ */
.monaco-workbench .activitybar>.content {
  justify-content: center;
}

.monaco-workbench .activitybar>.content>.composite-bar {
  margin-bottom: inherit;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-label.codicon {
  border-radius: 12px !important;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item.checked .active-item-indicator:before {
  border-left-color: transparent !important;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item {
  background: var(--vscode-editor-lineHighlightBackground) !important;
  border-radius: 12px;
  margin-bottom: 4px;
  width: 36px;
  height: 36px;
  margin-left: 4px;
}

div#workbench\.parts\.activitybar {
  background-color: var(--vscode-editorWidget-background) !important;
}

li.action-item.icon {
  border: 2px solid transparent;
}

li.action-item.icon:hover {
  border: 2px solid var(--vscode-icon-foreground);
}

li.action-item.icon.checked:hover .codicon:before {
  color: var(--vscode-activityBar-activeBorder) !important;
}

li.action-item.icon.checked {
  border: 2px solid var(--vscode-activityBar-activeBorder);
}

li.action-item.icon.checked a.action-label.codicon {
  color: var(--vscode-activityBar-activeBorder) !important;
  border-radius: 12px !important;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-label.codicon,
.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-label:not(.codicon) {
  width: 36px !important;
  height: 36px !important;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-label:not(.codicon) {
  padding: 0;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-label:not(.codicon):hover {
  background-color: var(--vscode-input-foreground) !important;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item:focus .active-item-indicator:before {
  border-left-color: transparent !important;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .badge .badge-content {
  position: absolute;
  top: 16px;
  right: 4px;
}

/* ------------ Sidebar ------------ */
.monaco-workbench .part>.composite.title>.title-actions {
  padding-left: 0;
  margin-left: -16px;
}

.monaco-workbench .part.sidebar .title-actions .action-item {
  margin-right: 0;
}

.monaco-list.mouse-support .monaco-list-row {
  border-radius: 6px;
  width: calc(100% - 8px);
  padding-right: 4px !important;
  padding-left: 0 !important;
  margin-left: 4px !important;
}

.show-file-icons .folder-icon::before, 
.show-file-icons .rootfolder-icon::before {
  filter: brightness(0.6);
}

.monaco-workbench .monaco-list:not(.element-focused):focus:before,
.part.sidebar .monaco-list.mouse-support.selection-none.last-focused::before,
.part.sidebar .welcome-view-content:focus {
  outline-color: transparent !important;
}

/* ------------ Command Palette ------------ */
.quick-input-titlebar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.quick-input-widget {
  background-color: var(--vscode-quickInput-background) !important;
  border-radius: 14px !important;
  min-height: 58px !important;
  box-shadow: 0px 2px 10px 4px var(--vscode-widget-shadow) !important;
}

.quick-input-widget.show-file-icons {
  top: 25% !important;
  padding-bottom: 4px;
}

.quick-input-list {
  padding: 0px 2px 0px 2px;
  margin-top: 0;
}

.quick-input-list [class^='monaco-list list_id'] .monaco-list-rows {
  background: var(--vscode-quickInput-background) !important;
}

.quick-input-list .monaco-list:not(.drop-target):not(.dragging) .monaco-list-row:hover:not(.selected):not(.focused) {
  background-color: var(--vscode-quickInputList-focusBackground) !important;
}

.quick-input-list [class^='monaco-list list_id'] .monaco-list-row.focused {
  background-color: var(--vscode-quickInputList-focusBackground) !important;
}

.quick-input-list .quick-input-list-entry {
  padding: 0 2px;
  border-top-color: var(--vscode-quickInputList-focusBackground) !important;
}

.monaco-workbench .synthetic-focus {
  outline: var(--vscode-quickInput-background) !important;
}

.quick-input-and-message .monaco-inputbox>.ibwrapper {
  background: var(--vscode-quickInput-background) !important;
  border-color: var(--vscode-quickInput-background) !important;
  border-width: 0 !important;
  width: calc(100% - 3px * 2);
  padding: 3px;
}

.quick-input-widget.show-checkboxes .quick-input-box,
.quick-input-widget.show-checkboxes .quick-input-message {
  margin-left: 0 !important;
}

.quick-input-and-message .monaco-inputbox.idle {
  border-color: var(--vscode-quickInput-background) !important;
  background-color: var(--vscode-quickInput-background) !important;
}

.quick-input-and-message .monaco-inputbox>.ibwrapper>.input {
  border-radius: 8px !important;
  padding: 12px;
  background-color: var(--vscode-quickInput-background) !important;
  border: 1px solid var(--vscode-quickInputList-focusBackground);
  margin-top: -3px;
}

.quick-input-list .monaco-list-row {
  border-radius: 4px;
}

.quick-input-list .quick-input-list-entry-action-bar .action-label.codicon {
  margin-right: 0;
}

.quick-input-action {
  display: flex;
  align-items: center;
  margin-left: 2px;
}

.quick-input-count {
  right: 14px;
}

/* ------------ Welcome Screen ------------ */
.monaco-workbench .part.editor>.content .editor-group-container>.editor-group-watermark {
  max-width: 100% !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.editor-group-watermark .letterpress {
    background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20512%20512%22%20style%3D%22enable-background%3Anew%200%200%20512%20512%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bopacity%3A0.5%3Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%2300000%3B%7D%0A%3C%2Fstyle%3E%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M394.13%2C187.34l0.07%2C142.63c0%2C0-0.16%2C3.64-2.65%2C8.11c-2.48%2C4.44-7.06%2C6.72-7.06%2C6.72l-128.41%2C63.08l-0.03-0.02%0A%09l-128.42-62.94c0%2C0-4.6-2.28-7.08-6.72c-2.49-4.47-2.65-8.11-2.65-8.11l-0.08-142.63c0%2C0%2C0.03-6.74%2C3.15-12.11%0A%09c3.32-5.74%2C14.74-11.63%2C14.74-11.63l120.2-59.62h0.06l120.28%2C59.52c0%2C0%2C11.41%2C5.87%2C14.74%2C11.61%0A%09C394.09%2C180.59%2C394.13%2C187.34%2C394.13%2C187.34%20M162.62%2C334.42l6.75-17.99l27.95%2C16.25l6.09%2C27.18l29.01%2C16.08l-36.7-123.91%0A%09l-22.39-14.7l-39.02%2C81.36L162.62%2C334.42z%20M184.46%2C271.25l8.87%2C35.38l-17.19-8.9L184.46%2C271.25z%20M307.95%2C256.99l18.69%2C22.07%0A%09l17.01-43.91l34.03-18.43l-29.74%2C71.53l26.4%2C32.17l-28.13%2C14.29l-17.61-23.16l-17.43%2C43.09l-32.77%2C18.05l27.71-66.01l-25.75-33.81%0A%09L307.95%2C256.99z%20M375.01%2C187.85l-1.05%2C2.62l-111.74%2C59.54l-0.23-0.45l-4.16%2C137.34l-1.94%2C1.78l-1.81-2.01l-5.51-137.32%0A%09l-110.53-58.77l-1.05-2.63l2.83-0.19l116.2%2C49.44l116.14-49.56L375.01%2C187.85z%22%2F%3E%0A%3C%2Fsvg%3E")!important ;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: contain !important;
    max-width: 75%;
}

.monaco-workbench .part.editor>.content .editor-group-container>.editor-group-watermark .shortcuts {
  display: none;
}

/* ------------ Editor Screen ------------ */
.monaco-editor .peekview-widget .head .peekview-title {
  flex: 5 !important;
}

.line-numbers {
  transform: scale(1);
  transition: all 10 linear;
}

.line-numbers.active-line-number {
  transform: scale(1.25) translateX(-3px);
  animation: .2s ease-out scaleSize;
}

@keyframes scaleSize {
  0% {
    transform: scale(.75)
  }

  100% {
    transform: scale(1.35) translateX(-3px);
  }
}

#bg-blur {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .15);
  backdrop-filter: blur(6px);
  transition: all 1s ease-in;
}

/* ------------ Find Widget ------------ */
.monaco-editor .find-widget {
  border-radius: 4px;
  padding-top: 1px !important;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  top: 3px !important;
}

.monaco-editor .find-widget .monaco-sash {
  display: none;
}

.monaco-editor .find-widget .button.toggle {
  left: 2px;
  outline: none !important;
}

.monaco-editor .find-widget .button.toggle:hover {
  background-color: var(--vscode-editorWidget-background) !important;
}

/* ------------ Notifications ------------ */
.notifications-list-container .monaco-list.mouse-support .monaco-list-row {
  border-radius: 0;
  width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

/* ------------ Terminal ------------ */
.monaco-workbench .pane-body.integrated-terminal .terminal-tabs-entry.is-active:before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
}

.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 100;
}

.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab.active {
  font-weight: bold;
  --tab-border-top-color: transparent!important;
  background: rgb(69, 95, 99)!important;
  z-index: 99;
  margin-left: -10px;
}

.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 16px;
  border-top: 1px solid white;
  padding-right: 8px;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab:first-child {
  margin-left: 0px!important;
}
